:root {
    --dark-gray: #111827;
    --medium-light-gray: #9CA3AF;
    --light-gray: #E5E7EB;
    --medium-amber: #FBBF24;
    --medium-dark-amber: #B45309;
}

body {
    background-color: var(--dark-gray);
    padding: 14px;
}

main {
    color: var(--light-gray);
    display: flex;
    gap: 10px;
    height: 92vh;
    font-family: Baumans;
    letter-spacing: 3px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productInfo {
    border: solid 2px var(--medium-amber);
    border-radius: 12px;
    background-color: var(--medium-light-gray);
    color: var(--dark-gray);
    padding: 12px;
    font-size: 14px;
}


.slider {
    width: 320px;
    height: 20px;
    
}

input.checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.plugin {
    border: solid 2px var(--medium-dark-amber);
    border-radius: 12px;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.labelAndParam {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.undoRedo {
    padding: 24px 0;
}

.undoRedo button {
    padding: 6px;
    font-family: Baumans;
    font-size: 12px;
    font-weight: bold;
}

.visualizer {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

canvas {
    border-radius: 10px;
}